/* Global Media Query */
/* 768px 이하 -> 모바일 */
@media (max-width: 768px) {
  html, body { font-size: 10px; }
}
/* 768~1200 -> 태블릿 */
@media (min-width: 769px) {
  html, body { font-size: 13px; }
}
/* 1200px 이상 -> PC */
@media (min-width: 1140px) {
  html, body { font-size: 16px; }
}
/* Global Media Query */


img.exclamation { width: 100px; height: 100px; }
