/* Global Media Query */
/* 768px 이하 -> 모바일 */
@media (max-width: 768px) {
  html, body { font-size: 14px; }
}
/* 768~1200 -> 태블릿 */
@media (min-width: 769px) {
  html, body { font-size: 15px; }
}
/* 1200px 이상 -> PC */
@media (min-width: 1200px) {
  html, body { font-size: 16px; }
}
/* Global Media Query */

/* global DOM */
input, span { display: inline-block; }
hr { color: #fff; background: #fff; border: 0; height: 1px; margin: 0 0.4rem 0.6rem 0.4rem; }

/* 아이폰의 inner shadow 제거 */
input, textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-border-radius: 0; }

/* global components */
img.exclamation { width: 100px; height: 100px; }
input.common-input { min-width: 6rem; height: 2.4rem; padding: 0 1rem; border: 1px solid #D6D6D6; border-radius: 4px; vertical-align: middle; color: #333; }
select.common-select { min-width: 6rem; height: 2.4rem; border: 1px solid #D6D6D6; border-radius: 4px; font-size: 1rem; padding: 0 1rem; }
textarea.common-textarea { padding: 10px 14px; border: 1px solid #D6D6D6; border-radius: 4px; color: #333; }

/* 버튼 */
button.btn-main { width: 120px; height: 40px; }
button.btn-sub { height:30px; padding: 0 10px; font-size: 12px; font-weight: 500;}

/* 사전등록(입장정보) 신청양식 테이블 */
table.table-apply th { width: 25%; padding: 10px; text-align: left; }
table.table-apply td { width: 75%; padding: 10px; text-align: left; }

/* jQuery의 modal header를 flex로 */
.modal-header { display: flex; align-items: center; justify-content: space-between; }
